<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="width: 100%; padding:2px; background-color: #1976d2; text-align: center; color: white; font-weight: bold; font-size: 25px;">
		<h4>Olá, ${nome}! Você foi cadastrado no SenacStock.</h4>
	</div>

	<div style="width: 100%; padding:2px; background-color: white; text-align: left; color: white; font-weight: bold; font-size: 25px; display: block; flex-wrap: wrap;">

		<div style="width: 100%; margin-bottom: 30px; margin-top: 30px;">
			<span style="font-weight: lighter; font-size: 12px; color: black">Suas credenciais para acessar o sistema pelo link <a href="http://localhost:3000/">SenacStock</a> </span>
		</div>

		<div style="width: 100%;">
			<span style="font-weight: lighter; width: 100%; color: black">Matrícula: <b>${matricula}</b></span>
		</div>

		<div style="width: 100%;">
			<span style="font-weight: lighter;color: black">Senha: <b>${senha}</b></span>
		</div>
		
	</div>
</body>
</html>